# .github/workflows/auto-author-assign.yml
name: Auto on Pull request/issue

on:
  pull_request_target:
    types: [ opened, reopened ]
  issues:
    types: [ opened, reopened ]

permissions:
  pull-requests: write
  issues: write

jobs:
  assign-author:
    runs-on: ubuntu-latest
    if: ${{ (github.event.pull_request.user.login != 'jge162') && (github.actor != 'dependabot[bot]') }} 
    # if user is dependabot skip this action
    steps:
      - uses: toshimaru/auto-author-assign@v2.1.1
        
